@page "/"
@using NewPortfolio.Data.Profile;

<PageTitle>Arthur Portfolio</PageTitle>

<div class="info-description">
	<div class="info-paragraph">
		Olá, meu nome é @info.Name. Com @info.Age anos,
		sou um desenvolvedor FullStack apaixonado por transformar ideias em realidade.
		Minha jornada na área de desenvolvimento começou há alguns anos,
		e desde então tenho mergulhado de cabeça em diversos projetos.

	</div>
	<div class="info-paragraph">
		Minhas principais áreas de expertise incluem C#, SQL, HTML e CSS.
		Com dedicação e curiosidade insaciável,
		estou sempre buscando expandir meu conhecimento e explorar novas tecnologias para aprimorar minhas habilidades.
	</div>
	<div class="info-paragraph">
		Neste portfólio, convido você a explorar uma seleção dos projetos que eu desenvolvi.
		Além da programação, tenho um grande interesse em colaboração e aprendizado em equipe.
		Acredito que as melhores soluções surgem quando diferentes mentes se unem em busca de um objetivo comum.
	</div>
	<div class="info-paragraph">
		Agradeço por visitar meu portfólio e ficarei feliz em receber seu feedback e responder a qualquer pergunta que você possa ter.
		Atenciosamente, @info.Name.
	</div>
</div>


@code 
{
	Info info = new Info();
}