@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');


html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-image: linear-gradient(#0E0975, #140DA3);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.info-description {
    width: 50%;
    margin: 20px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #808080;
    border-radius: 10px;
    font-size: 20px;
}

.info-paragraph {
    margin-top: 10px;
}
