@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');


html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-image: linear-gradient(#31004D, #5E0492);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.profile-pic-div {
    text-align: center;
    margin: 50px 0;
}

.profile-pic {
    height: 300px;
    width: 300px;
    border-radius: 10px;
    border: 6px solid #8F01B9;
}

.info-description {
    width: 50%;
    margin: 20px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #808080;
    border-radius: 10px;
    font-size: 20px;
}

.info-paragraph {
    margin-top: 10px;
}

.icons-div {
    display: flex;
    justify-content: space-evenly;
    background-color: #FFF;
    border-radius: 10px;
    border: 6px solid #8F01B9;
    margin: 0 30rem;
    padding: 5px 0;
}

.language-icons {
    width: 100px;
    height: 100px;
}

.other-categories-div {
    display: flex;
    justify-content: space-evenly;
    margin: 40px 0;
}

.section-div {
    padding: 0;
    border: 6px solid #8F01B9;
    border-radius: 10px;
    padding-bottom: 20px;
}

.section-title {
    padding: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.lists-div, .lists-div > ul > li {
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 20px;
}

#section-id {
    margin-top: 150px;
}

.lists-div > ul {
    padding: 0;
    margin: 0;
}

.competencias-list-div {
    margin-bottom: 20px;
}

.projects-div {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0 40px 0;
}

.index-project-picture {
    height: 331px;
    width: 672px;
}

#contact-section {
    border-top: 5px solid #8F01B9;
    border-radius: 5px;
}

.contato-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contato-info-div {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin: 20px 0;
}

.contact-icon {
    height: 50px;
    width: 50px;
    margin: 0 10px;
}

.link {
    font-weight: bold;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
}

    .link:hover {
        transition: 500ms;
        color: #D100B5;
    }

.contact-section-title {
    font-weight: bold;
    margin-right: 5px;
}

.project-roller-div {
    display: flex;
}

.project-images-div {
    text-align: center;
    margin: 80px 0 0 0;
}

.project-page-picture {
    width: 1331px;
    height: 674px;
}

.project-roller-buttons-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.portfolio-button, .portfolio-button-anchor {
    height: 100px;
    width: 150px;
    margin: 40px 0;
    color: white;
    background-color: transparent;
    border: 6px solid #8F01B9;
    border-radius: 10px;
    font-weight: bold;
    font-size: 25px;
}

    .portfolio-button:hover, .portfolio-button-anchor:hover {
        transition: 500ms;
        color: #8F01B9;
        background-color: #FFF;
    }

.portfolio-button-anchor {
    padding: 20px 30px;
    text-decoration: none;
}

.project-github-link {
    color: #FFF;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
}

    .project-github-link:hover {
        transition: 500ms;
        color: #FF33C1;
    }