@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');


html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-image: linear-gradient(#31004D, #5E0492);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.info-description {
    width: 50%;
    margin: 20px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #808080;
    border-radius: 10px;
    font-size: 20px;
}

.info-paragraph {
    margin-top: 10px;
}

.icons-div {
    display: flex;
    justify-content: space-evenly;
    background-color: #FFF;
    border-radius: 10px;
    border: 6px solid #8F01B9;
    margin: 0 30rem;
    padding: 5px 0;
}

.language-icons {
    width: 100px;
    height: 100px;
}

.other-categories-div {
    display: flex;
    justify-content: space-evenly;
    margin: 40px 0;
}

.section-div {
    padding: 0;
    border: 6px solid #8F01B9;
    border-radius: 10px;
    padding-bottom: 20px;
}

.section-title {
    padding: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.lists-div, .lists-div > ul > li {
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 20px;
}

.lists-div > ul {
    padding: 0;
    margin: 0;
}

.competencias-list-div {
    margin-bottom: 20px;
}

.projects-div {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0 40px 0;
}
